<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jikaigg.mapper.EmployeeMapper">
    <resultMap id="employee" type="com.jikaigg.pojo.Employee">
        <result property="id" column="emp_id" />
        <result property="name" column="emp_name" />
        <result property="email" column="emp_email" />
        <result property="gender" column="gender" />
        <result property="deptId" column="department_id" />
    </resultMap>

    <select id="findAll" resultMap="employee">
        select * from tbl_emp
    </select>
</mapper>