<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div id="app_start">
    <!--script绑定此div，显示data-->
    <h3>{{message}}</h3>
</div>

<div id="app_bind">
    <!--鼠标悬停显示data-->
    <h3 v-bind:title="message">鼠标停留在此处几秒试试</h3>
</div>

<div id="app_ifelse">
    <h3 v-if="ok">yes</h3>
    <h3 v-else>no</h3>
</div>

<div id="app_elseif">
    <h3 v-if="score==='A'">A</h3>
    <h3 v-else-if="score==='B'">B</h3>
    <h3 v-else-if="score==='C'">C</h3>
</div>

<div id="app_for">
    <li v-for="element in names">{{element.name}}</li>
</div>

<!--导入vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
<script>
    var vm_app_start = new Vue({
        el:"#app_start",
        data:{message:"么济恺"}
    });
    var vm_app_bind = new Vue({
        el:"#app_bind",
        data:{message:"恺哥"}
    });
    var vm_pp_ifelse = new Vue({
        el:"#app_ifelse",
        data:{ok:true}
    })
    var vm_pp_elseif = new Vue({
        el:"#app_elseif",
        data:{score:'B'}
    })
    var vm_app_for = new Vue({
        el:"#app_for",
        data:{names:[{name:"jikai"},{name:"mengyu"}]}
    })
</script>


</body>
</html>